body.loading {
	height: 99999px;
}

table {
	width: 100%;
}
td.location {
	width: 20%;
	font-family: monospace;
}
td.title {
	width: 20%;
}
td.url {
	width: 60%;
}
.title > input,
.url > input {
	width: 100%;
}
