* {
	box-sizing: border-box;
}

html {
	--title-width: 35;
}
body.loading {
	height: 99999px;
}

table {
	width: 100%;
}
th {
	text-align: left;
}
td.title {
	width: calc(var(--title-width) / 100 * 100%);
}
td.url {
	width: calc((100 - var(--title-width)) / 100 * 100%);
}
.title > input,
.url > input {
	width: 100%;
}
